In [1]:
# Importamos las bibliotecas y conectores necesarios

import mysql.connector
from mysql.connector import errorcode

import pandas as pd

# Importamos nuestras bibliotecas

import funciones_bbdd as bbdd
import funciones_soporte_queries as query

Tabla 'Departamento' creada.
Tabla 'Puesto' creada.
Tabla 'Educacion_Nivel_Campo' creada.
Tabla 'Empleados' creada con todas las FKs.
Tabla 'Nivel_Satisfaccion' creada.
Tabla 'Condiciones_Laborales' creada.
Datos insertados en tabla 'Departamento'.
Datos insertados en tabla 'Puesto'.
Datos insertados en tabla 'Educación'.
Tabla 'Empleados' creada con todas las FKs.
Datos insertados en tabla 'Nivel_Satisfaccion'.
Datos insertados en tabla 'Condiciones_Laborales'.

In [2]:
# Conectamos Phyton a mySQL con manejo de errores
cnx = bbdd.conexion_servidor('AlumnaAdalab')

¡Conexión exitosa a MySQL!
 Variable 'cnx' creada.

In [3]:
# Creamos el schema en mySQL con manejo de errores
mycursor = bbdd.creacion_bbdd(cnx,query.query_creacion_bbdd, query.query_moverse_bbdd)

BBDD creada correctamente.
Variable 'mycursor' creada.

In [3]:
# Accedemos a la bbdd que queramos --> optimizacion_talento
mycursor= bbdd.acceso_bbdd(cnx, 'optimizacion_talento')

Variable 'mycursor' creada.
Estamos en la bbdd indicada

In [4]:
# Abrimos el dataframe con el que vamos a trabajar para insertar los datos
df = pd.read_csv("../../data/optimizacion_talento.csv", index_col=0)
print(f'Tenemos {df.shape[0]} empleados.\nEstructura del df:')
display(df.head(2))

Tenemos 1614 empleados.
Estructura del df:

,age,attrition,businesstravel,department,distancefromhome,education,educationfield,employeenumber,environmentsatisfaction,gender,...,relationshipsatisfaction,stockoptionlevel,trainingtimeslastyear,worklifebalance,yearsatcompany,yearssincelastpromotion,yearswithcurrmanager,datebirth,salary,remotework
0,51,No,No Travel,Research & Development,6,3,Other,1,1,Female,...,3,0,5,3,20,15,15,1972,195370.0,Sí
1,52,No,No Travel,Sales,1,4,Life Sciences,2,3,Female,...,1,1,5,3,33,11,9,1971,199990.0,Sí

In [5]:
# creamos las primeras tablas del schema:
# En el archivo funciones de soporte están definidas las columnas y los tipos de datos

# Tablas generales 
bbdd.creacion_tablas(mycursor,
                     query.query_creacion_tabla_departamento,
                     query.query_creacion_tabla_puesto,
                     query.query_creacion_tabla_educacion,
                     )

Tabla creada con éxito.
Tabla creada con éxito.
Tabla creada con éxito.

In [6]:
# Inseramos datos --> tabla DEPARTAMENTO
bbdd.insercion_tabla_departamento(mycursor,cnx,df)

Datos insertados correctamente: 3 filas.

In [7]:
# Inseramos datos --> tabla PUESTO
bbdd.insercion_tabla_puesto(mycursor,cnx,df)

Datos insertados correctamente: 26 filas.

In [8]:
# Inseramos datos --> tabla EDUCACION
bbdd.insercion_tabla_educacion(mycursor,cnx,df)

Datos insertados correctamente: 29 filas.

In [5]:
# creamos las siguientes tablas del schema:
# En el archivo funciones de soporte están definidas las columnas y los tipos de datos

# Tabla principal: PK y FKs
bbdd.creacion_tablas(mycursor,
                    query.query_creacion_tabla_empleados)

Tabla creada con éxito.

In [7]:
# Tablas generales con dependencias con otras tablas: FKs
bbdd.creacion_tablas(mycursor,
                     query.query_creacion_tabla_nivel_satisfaccion,
                     query.query_creacion_tabla_condiciones_laborales,
                     )

Tabla creada con éxito.
Tabla creada con éxito.

--> me he quedado aquí :(

In [5]:
# Inseramos datos --> tabla EMPLEADOS:
# necesitamos datos de Departamento, Puesto y Educacion_Nivel_Campo
bbdd.insercion_tabla_empleados(mycursor,cnx,df)

No se ha podido realizar la inserción:
Failed executing the operation; Not all parameters were used in the SQL statement

In [6]:
# Cerramos conexión
bbdd.cerrar_conexion(cnx)

Conexión cerrada.