In [1]:
# importamos las bibliotecas y conectores necesarios

import mysql.connector
from mysql.connector import errorcode

import pandas as pd

In [3]:
# conectamos Phyton a mySQL con manejo de errores

try:
    # Intenta hacer la conexión con SQL
    cnx = mysql.connector.connect(
        user='root',
        password='AlumnaAdalab',
        host='127.0.0.1'
    )
    print("¡Conexión exitosa a MySQL!") # si es exitosa lo informa

# definimos los posibles errores y su manejo
except mysql.connector.Error as err:
    # Si es un error de acceso denegado (ej. contraseña o usuario incorrecto)
    if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
        print("Algo está mal con tu nombre de usuario o contraseña.") # informa el error encontrado
    # Si la base de datos no existe
    elif err.errno == errorcode.ER_BAD_DB_ERROR:
        print("La base de datos no existe.") # informa el error encontrado
    # Para cualquier otro tipo de error
    else:
        print(err) # informa del error
        print("Código de Error:", err.errno) # informa el código del error
        print("SQLSTATE", err.sqlstate) # informa el estado de conexión
        print("Mensaje", err.msg)
else:
    # Si la conexión fue exitosa, cierra la conexión y lo informa
    cnx.close()
    print("Conexión cerrada.")

¡Conexión exitosa a MySQL!
Conexión cerrada.

In [4]:
# creamos el schema en mySQL con manejo de errores

cnx = mysql.connector.connect(     # abrimos la conexión
    user='root',
    password='AlumnaAdalab',
    host='127.0.0.1'
)

mycursor = cnx.cursor()     # establecemos el cursos

try:
    mycursor.execute("CREATE DATABASE optimizacion_talento")       # creamos el schema necesario
    print("Base de datos 'optimizacion_talento' creada exitosamente.")     # informa el resultado del mismo
except mysql.connector.Error as err:         # definimos el manejo de errores
    print(err)
    print("Código de Error:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Mensaje", err.msg)

cnx.close()             # cerramos la conexion

Base de datos 'optimizacion_talento' creada exitosamente.

In [5]:
# creamos las tablas del schema definiendo las columnas y los tipos de datos

cnx = mysql.connector.connect(
    user='root',
    password='AlumnaAdalab',
    host='127.0.0.1',
    database='musicstream' 
)

cursor = cnx.cursor()

# Tabla A: Departamento
cursor.execute("""
CREATE TABLE IF NOT EXISTS Departamento (
  DepartamentoID INT AUTO_INCREMENT PRIMARY KEY,
  NombreDepartamento VARCHAR(100) NOT NULL UNIQUE
)""")
print("Tabla 'Departamento' creada.")

# Tabla B: Puesto
cursor.execute("""
CREATE TABLE IF NOT EXISTS Puesto (
  PuestoID INT AUTO_INCREMENT PRIMARY KEY,
  NombrePuesto VARCHAR(100) NOT NULL UNIQUE
)""")
print("Tabla 'Puesto' creada.")

# Tabla C: Educacion_Nivel_Campo
cursor.execute("""
CREATE TABLE IF NOT EXISTS Educacion_Nivel_Campo (
  EducacionID INT AUTO_INCREMENT PRIMARY KEY,
  Nivel INT NOT NULL, 
  Campo VARCHAR(100) NOT NULL, 
  UNIQUE KEY UQ_Nivel_Campo (Nivel, Campo)
)""")
print("Tabla 'Educacion_Nivel_Campo' creada.")

# --- 3. DEFINICIÓN DE TABLA CENTRAL (Con FKs) ---

# Tabla D: Empleados (Tabla Central)
cursor.execute("""
CREATE TABLE IF NOT EXISTS Empleados (
    EmployeeID INT AUTO_INCREMENT PRIMARY KEY,
    EmployeeNumber_CSV INT UNIQUE NOT NULL, 
    
    -- Claves Foráneas
    Departamento_FK INT NOT NULL,
    Puesto_FK INT NOT NULL,
    Educacion_FK INT NOT NULL,
    
    -- Atributos restantes del CSV
    Age INT NOT NULL,
    Attrition VARCHAR(3),
    BusinessTravel VARCHAR(50),
    DailyRate DECIMAL(10, 2),
    DistanceFromHome INT,
    EnvironmentSatisfaction INT,
    Gender VARCHAR(10),
    JobInvolvement INT,
    JobLevel INT,
    JobSatisfaction INT,
    MaritalStatus VARCHAR(20),
    MonthlyIncome DECIMAL(10, 2),
    MonthlyRate DECIMAL(10, 2),
    NumCompaniesWorked INT,
    OverTime VARCHAR(10),
    PercentSalaryHike INT,
    RelationshipSatisfaction INT,
    StockOptionLevel INT,
    TrainingTimesLastYear INT,
    YearsAtCompany INT,
    YearsSinceLastPromotion INT,
    YearsWithCurrManager INT,
    DateBirth YEAR, 
    Salary DECIMAL(10, 2),
    RemoteWork VARCHAR(3),
    
    -- Definición de Relaciones de Claves Foráneas
    FOREIGN KEY (Departamento_FK) REFERENCES Departamento(DepartamentoID) ON DELETE RESTRICT ON UPDATE CASCADE,
    FOREIGN KEY (Puesto_FK) REFERENCES Puesto(PuestoID) ON DELETE RESTRICT ON UPDATE CASCADE,
    FOREIGN KEY (Educacion_FK) REFERENCES Educacion_Nivel_Campo(EducacionID) ON DELETE RESTRICT ON UPDATE CASCADE
)""")
print("Tabla 'Empleados' creada con todas las FKs.")

# --- CIERRE DE CONEXIÓN ---
cnx.commit()
cursor.close()
cnx.close()
print("\n¡Las 4 tablas de la base de datos 'optimizacion_talento' se han creado con éxito!")

Tabla 'Departamento' creada.
Tabla 'Puesto' creada.
Tabla 'Educacion_Nivel_Campo' creada.
Tabla 'Empleados' creada con todas las FKs.

¡Las 4 tablas de la base de datos 'optimizacion_talento' se han creado con éxito!